<html>
  <head>
      <title>eszter's blog</title>
  </head>
  <body>
      <div>
          <h1><a href="">Django Girls Blog</a></h1>
      </div>
      <div>
          <p>published: 21.11.2015, 16:58</p>
          <h2><a href="">My first post</a></h2>
          <p>Ha nő vagy és szeretnéd megtanulni, hogyan készíthetsz weboldalakat, jó hírünk van számodra: két egynapos workshopot tartunk kezdőknek!

A workshop november 21-22-én, Budapesten lesz: két egynapos workshopot tartunk egy hétvége alatt, egy angol és egy magyar nyelvűt. A warm-up parti november 20-án lesz.

Hiszünk abban, hogy az IT iparág sokat profitálna abból, ha több nő érdeklődne és dolgozhatna a technológia területén. Szeretnénk megadni a lehetőséget neked is, hogy megtanulhass programozni és egy lehess közülünk, női programozók közül!

A workshopok teljesen ingyenesek és nincsen korhatár. Nagyszerű lehetőséget nyújtanak arra, hogy barátságos környezetben ismerkedhess meg a programozással.</p>
      <div>
          <p>published: 21.11.2015, 16:58</p>
          <h2><a href="">My second blog post</a></h2>
          <p>blablabla</p>
      </div>
      
  </body>
</html>
